<!doctype html>
<html>
	<head>
	<meta charset="UTF-8" />
	<title>Patent Network</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/bullet.js"></script>
	</head>
<body>
  <h2>Please enter technology keywords:</h2>
  <br>
<form method=post action="/result/"> {% csrf_token %} 
  <div>
	  <input type="text" name="query"><br>
  </div>
  <input type=submit value='Submit' name='submit_btn'>
</form>
<script>
var insert_textarea;
var number = 4;

insert_textarea = '<textarea rows="10" cols="100">'+number+'</textarea>';
$("#add").click(function(){//when add button is clicked
  insert_textarea = '<br>Claim '+number+'<br><textarea rows="10" cols="100" name="claim'+number+'_text"></textarea></br>';
  $("#claims").append(insert_textarea);//appending new row to table
  number = number+1;
});
</script>

  </body>
</html>