<html>
<head>
<meta charset="UTF-8" />
<title>Tea Connoisseur</title>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/bullet.js"></script>
</head>
<body>
<h1><u>Patent Profile</u></h1>
<blockquote>Patent number: US123456
<table border="1">
    <tr>
        <th>Assignee_experience</th>
        <th>Inventor_experience</th>
    </tr>
	<tr>
        <td>10</td>
		<td>40</td>
        
    </tr>

</table>
</blockquote>
<hr>

<h1><u>Monetization Prediction</u></h2>
<h2>Model selection</h2>
<ul>
<li>Model Elisa is used to predict the monetizaition of this patent.</li>
<li>Model Elisa is trained on the patents w/ IPC = "Chemistry; Metallurgy"</li>
</ul>

<h2>Prediction results</h2>
<blockquote>This patent will be monetized. (Probability:43 %)
</blockquote>
<hr>

<h1><u>Model Intepretation</u></h1>
<h2>Importance of Top 5 crucial factors in modeling</h2>
<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"> </div>

<h2>Performance at Top 5 crucial factors</h2>
<blockquote>Black indicator represent the performance of this patent in the Top 5 important variables of Model Elisa</blockquote>
<blockquote>(For example, the assignee_experience of this patent lie within top 25% of patent database)</blockquote>

<div id="container4" style="max-width: 800px;height: 115px;margin: 1em auto"></div>
<div id="container5" style="max-width: 800px;height: 85px;margin: 1em auto"></div>
<div id="container6" style="max-width: 800px;height: 85px;margin: 1em auto"></div>
<hr>

<script>
$(function(){
Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: null
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: ['Assignee_experience', 'Assignee_IPC', 'Inventor_experience', 'Inventor_IPC', 'Inventor_patentcount'],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' '
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    credits: {
        enabled: false
    },
	legend: {
        enabled: false
    },
	tooltip: {
        pointFormat: null
    },
    series: [{
        name: null,
        data: [0.5, 0.1, 1, 0.4, 0.3]
    }]
});
});

$(function () { 



   Highcharts.setOptions({
    chart: {
        inverted: true,
        marginLeft: 135,
        type: 'bullet'
    },
    title: {
        text: null
    },
    legend: {
        enabled: false
    },
    yAxis: {
        gridLineWidth: 0
    },
    plotOptions: {
        series: {
            pointPadding: 0.25,
            borderWidth: 0,
            color: '#000',
            targetOptions: {
                width: '200%'
            }
        }
    },
    credits: {
        enabled: false
    },
    exporting: {
        enabled: false
    }
});

Highcharts.chart('container4', {
    chart: {
        marginTop: 40
    },
    title: {
        text: null
    },
    xAxis: {
        categories: ['<span class="hc-cat-title">Assignee_experience</span><br/>year']
    },
    yAxis: {
		min:0,
		max:300,
        plotBands: [{
            from: 0,
            to: 10,
            color: '#666',
			label: {text: 'Bottom 25%'}
        }, {
            from: 10,
            to: 100,
            color: '#999',
			label: {text: 'Medium'}
        }, {
            from: 100,
            to: 300,
            color: '#bbb',
			label: {text: 'Top 25%'}
        }],
        labels: {
            format: '{value}'},
        title: null
    },
    series: [{
        data: [{
            y: 0,
            target: 60
        }]
    }],
    tooltip: {
        pointFormat: null
    }
});

Highcharts.chart('container5', {
    xAxis: {
        categories: ['<span class="hc-cat-title">Profit</span><br/>%']
    },
    yAxis: {
        plotBands: [{
            from: 0,
            to: 20,
            color: '#666'
        }, {
            from: 20,
            to: 25,
            color: '#999'
        }, {
            from: 25,
            to: 100,
            color: '#bbb'
        }],
        labels: {
            format: '{value}%'
        },
        title: null
    },
    series: [{
        data: [{
            y: 0,
            target: 60
        }]
    }],
    tooltip: {
        pointFormat: null
    }
});


Highcharts.chart('container6', {
    xAxis: {
        categories: ['<span class="hc-cat-title">New Customers</span><br/>Count']
    },
    yAxis: {
        plotBands: [{
            from: 0,
            to: 1400,
            color: '#666'
        }, {
            from: 1400,
            to: 2000,
            color: '#999'
        }, {
            from: 2000,
            to: 9e9,
            color: '#bbb'
        }],
        labels: {
            format: '{value}'
        },
        title: null
    },
    series: [{
        data: [{
            y: 0,
            target: 500
        }]
    }],
    tooltip: {
        pointFormat: '<b>{point.y}</b> (with target at {point.target})'
    },
    credits: {
        enabled: true
    }
});

});
</script>
</body>
</html>
