<html>
<head>
   <meta charset="UTF-8" />
   <title>Highcharts 教程 | 菜鸟教程(runoob.com)</title>
   <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">

var spectrum = {{spectrum|safe}};


$(document).ready(function() {
   var title = {
       text: 'tea spectrum'   
   };
   var subtitle = {
        text: 'Source: runoob.com'
   };
   var xAxis = {
	  title: {
         text: 'wavelength (\xB0C)'

   };
   var yAxis = {
      title: {
         text: 'intensity (\xB0C)'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };   

   var tooltip = {
      valueSuffix: '\xB0C'
   }

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series =  [
      {
         name: 'spectrum',
         data: spectrum
      }
   ];

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;

   $('#container').highcharts(json);
});
</script>
</body>
</html>
