[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
numpy = "*"
lime = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
dj-database-url = "*"
gensim = "*"

[requires]

python_version = "3.6"
